:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --beige: #fcf1e0;
  --light: #fafafa;
  --gray: #4c4c4c;
  --white: #fff;
  --marker-body: #4c4c4c;
  --marker-border: #eceded;
  --font-family: "Montserrat", sans-serif;
}

body {
  font-family: var(--font-family);
  background: var(--light);
}

a {
  text-decoration: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 1168;
  padding: 0 16px;
  margin: 0 auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* HEADER */
.header-section .container {
  display: flex;
  justify-content: space-between;
}
.header-section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}
.logo {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: #111;
  margin-right: 4px;
}
.logo-italic {
  font-style: italic;
}
.logo-icon {
  fill: #fcf1e0;
}

.menu-wrapper {
  display: flex;
  gap: 90px;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu-links {
  display: flex;
  gap: 24px;
}
.nav-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
}

.menu-networks-list {
  display: flex;
  gap: 14px;
}
.social-network-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 10px;

  .social-network-link:hover .social-icon,
  .social-network-link:focus .social-icon {
    fill: var(--orange);
  }
}

/* START PAGE */
.start-page-section {
  margin-bottom: 80px;
}
.start-page {
  background: rgba(17, 17, 17, 0.4);
  border-radius: 30px;
  padding: 40px;
}
.main-caption {
  max-width: 484px;
  margin-top: 381px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.22;
  letter-spacing: -0.03em;
  color: #fff;
}
.start-page-line-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.start-page-buttons {
  display: flex;
  gap: 14px;
}
.start-page-button {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  cursor: pointer;
}
.start-page-button:hover,
.start-page-button:focus {
  border: none;
  background-color: #fd9222;
}
.scroll-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}
.scroll-svg {
  /* display: inline-flex;
  justify-content: center; */
  border-radius: 50%;
  background-color: #fff;
}

/* BENEFITS */
.benefits-section {
  background-color: var(--violet);
}
.benefits-section .container {
  padding: 50px 34px;
}
.benefits-list {
  display: flex;
  gap: 88px;
}

.benefits-item {
  flex-basis: calc((100% - 176px) / 3);
  color: rgba(255, 255, 255, 0.7);
}
.benefits-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #fff;
  margin-bottom: 18px;
}
.benefits-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
